<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>industrywebproject</display-name>
  <welcome-file-list>
    <welcome-file>EmployeeSingup.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeDisplayServlet</display-name>
    <servlet-name>EmployeeDisplayServlet</servlet-name>
    <servlet-class>com.royal.controller.EmployeeDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDisplayServlet</servlet-name>
    <url-pattern>/EmployeeDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeInsertServlet</display-name>
    <servlet-name>EmployeeInsertServlet</servlet-name>
    <servlet-class>com.royal.controller.EmployeeInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInsertServlet</servlet-name>
    <url-pattern>/EmployeeInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDeleteServlet</display-name>
    <servlet-name>EmployeeDeleteServlet</servlet-name>
    <servlet-class>com.royal.controller.EmployeeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDeleteServlet</servlet-name>
    <url-pattern>/EmployeeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeUpDateServlet</display-name>
    <servlet-name>EmployeeUpDateServlet</servlet-name>
    <servlet-class>com.royal.controller.EmployeeUpDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeUpDateServlet</servlet-name>
    <url-pattern>/EmployeeUpDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeSaveUpdateServlet</display-name>
    <servlet-name>EmployeeSaveUpdateServlet</servlet-name>
    <servlet-class>com.royal.controller.EmployeeSaveUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSaveUpdateServlet</servlet-name>
    <url-pattern>/EmployeeSaveUpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>