<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>studentwebproject</display-name>
  <welcome-file-list>
    <welcome-file>StudentForm.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentInsertServlet</display-name>
    <servlet-name>StudentInsertServlet</servlet-name>
    <servlet-class>com.royal.controller.StudentInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInsertServlet</servlet-name>
    <url-pattern>/StudentInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentBean</display-name>
    <servlet-name>StudentBean</servlet-name>
    <servlet-class>com.royal.bean.StudentBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentBean</servlet-name>
    <url-pattern>/StudentBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDisplayServlet</display-name>
    <servlet-name>StudentDisplayServlet</servlet-name>
    <servlet-class>com.royal.controller.StudentDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDisplayServlet</servlet-name>
    <url-pattern>/StudentDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEditServlet</display-name>
    <servlet-name>StudentEditServlet</servlet-name>
    <servlet-class>com.royal.controller.StudentEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEditServlet</servlet-name>
    <url-pattern>/StudentEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSaveServlet</display-name>
    <servlet-name>StudentSaveServlet</servlet-name>
    <servlet-class>com.royal.controller.StudentSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSaveServlet</servlet-name>
    <url-pattern>/StudentSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteServlet</display-name>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <servlet-class>com.royal.controller.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <url-pattern>/StudentDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>